p { 
font-display: justify;
  font-family: 'Arial';
  font-size: 18px;
  }
.back {
  font-family: 'Akronim';
  font-size: large;
}
h1 {
  font-family: 'Yeon Sung';
  text-align: center;
  color: rgba(35, 40, 217, .7); 
  background-color: rgba(144, 50, 207, 0.253);
  text-transform: uppercase;
}
h1:hover {
  color:lightcyan;
  font-family: 'Dancing Script';
}
h6 {
 font-family: 'Oxygen';
  text-align: right;
}
h4 {
  text-decoration: overline;
}
.color {
  color: red;
}
body {
  background-color: rgba(23, 227, 224,.66);
}
.dad {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}