p { 
font-display: justify;
  font-family: 'Arial';
  font-size: 18px;
  }
.back {
  font-family: 'Akronim';
  font-size: large;
}
h1 {
  font-family: 'Yeon Sung';
  text-align: center;
  color: #EF809A;
  background-color: ;
  text-transform: uppercase;
}
h1:hover {
  color:;
  font-family: 'Dancing Script';
}
h6 {
 font-family: 'Oxygen';
  text-align: right;
}
h4 {
  text-decoration: overline;
}
.color {
  color: red;
}
body {
  background-color: 
}
.dad {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}